<h1 class="text-center">Todo List</h1>

<div class="container text-center">
  <div class="row">
    <div class="col-md-12">
      <div class="input-group mb-3">
        <input type="text" class="form-control" placeholder="Enter Your Task" aria-describedby="button-addon2"
          #taskUser>
        <button class="btn btn-outline-primary" (click)="addTask(taskUser.value)" type="button" id="button-addon2">Add
          Task</button>
      </div>
    </div>
  </div>
  <div>
    <table class="table bg-dark text-light" *ngFor="let data of listUserTask">
      <tr>
        <td>{{data.id + 1}} Task</td>
        <td>{{data.task}}</td>
        <td><button class="btn btn-outline-danger m-3 text-center w-50" (click)="removeTask(data.id)"><i
              class="fa-solid fa-x fa-sm text-light"></i></button></td>
        <td><button class="btn btn-outline-success m-3 text-center w-50" (click)="doneTask(data.id)"><i
              class="fa-solid fa-check fa-sm text-light"></i></button></td>
      </tr>
    </table>
  </div>
</div>